$primary: #f21d1d;
$primary-light: #e93a3a;
$primary-grey: #8799a6;
$primary-dark-light: #201010;
$primary-dark: #160b0b;

$font-primary: $primary;
$font-light: #fff;
$font-grey: $primary-grey;
$font-dark: #000;

$border-primary: $primary;
$border-light: #fff;
$border-grey: #38444d;
$border-dark: $primary-dark;

$background-light: #fff;
$background-grey-dark: $primary-dark;
$background-dark-light: $primary-dark-light;

$danger: #e0245e;
